@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Public+Sans&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
    --red-color: #FD5D5D;
    --navy-blue: #525E75;
}

a {
    color: var(--navy-blue);
}

/* Home Page Rule Sets */
.hamburger-container {
    display: none;
}
.hamburger-menu {
    font-size: 2rem;
    margin-left: 1rem;
    
}
.home-container {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
}
.home-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.home-logo-container {
    display: flex;
    align-items: center;
}

.home-logo {
    font-weight: bold;
    font-size: 2rem;
}

.home-nav-items {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
}
.home-nav-items > p:hover {
    cursor: pointer;
    border-bottom: 0.2rem solid var(--navy-blue);
}
.modal-container {
    display: none;
}
.search-container {
    display: flex;
    align-items: flex-end;
}

.home-search-bar {
    border: 1px solid var(--text-color);
    border-radius: 1.2rem;
    padding: 0.2rem;
    padding-left: 1rem;
    background-image: url('./images/search-icon.png');
    background-repeat: no-repeat;
    background-position: right;
    outline: 0;
    margin-right: 1rem;
    width: 50%;
}

.home-wish-list {
    font-size: 1.9rem;
    color: var(--navy-blue);
    margin-right: 1rem;
}
.home-wish-list:hover {
    cursor: pointer;
}
.home-shop-bag {
    font-size: 1.9rem;
    margin-right: 1rem;
    color: var(--navy-blue);
}
.home-shop-bag:hover {
    cursor: pointer;
}

.home-page-new-arrival {
    background-color: #DFDFDE;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4.5rem;
}

.main-heading {
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

.home-shop-now-btn {
    background-color: var(--navy-blue);
    color: var(--bg-color);
    border: none;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    font-weight: bold;
}
.home-page-model {
    height: 100%;
    width: 45%;
}
.home-palette {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.palette-images-1 {
    width: 25%;
    height: 30vh;
    margin-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("./images/menmodel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.palette-images-1:hover {
    border: 1px solid var(--navy-color);

}

.palette-images-2 {
    width: 25%;
    height: 30vh;
    margin-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("./images/womenmodel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.palette-images-2:hover {
    border: 1px solid var(--navy-color);
 
}

.palette-images-3 {
    width: 25%;
    height: 30vh;
    margin-right: 2rem;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
    background-image: url("./images/kidsmodel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.palette-images-3:hover {
    border: 1px solid var(--navy-color);
 
}

.palette-btn {
    width: 9rem;
    background: transparent;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}


/* Deals Container */ 
.deals-container {
    margin: 2rem 0;
}
.heading-container {
    display: flex;
    justify-content: center;
    background-color: var(--navy-blue);
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}
.deal-heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    width: 80%;
    padding: 1rem;
    color: rgb(84, 84, 117);
    border-radius: 0.5rem;
    
}
.deal-styling {
    font-size: 1rem;
    font-weight: lighter;
}
.deals-images-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

}
.deal-image-container {
   
}
.deal-image-container:hover {
    cursor: pointer;
    border: 0.1rem solid var(--navy-blue);
    padding: 0.1rem;
}
.deal-image {

}

/* Footer Section */
.cares-container {
    background-color: var(--navy-blue);
    padding: 0.8rem;
    border: 0.2rem solid #F1DDBF;
}
.cares-container:hover {
    border: none;
    padding: 1.1rem;
}
.cares-heading-container {
    text-align: center;
    color: #F1DDBF;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.cares-para-container {
    color: #DDDDDD;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

/* assurance section */
.returns-main-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.returns-child-container {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.returns-icon-para-container {
    text-align: center;
}
.footer-icon {
    color: var(--navy-blue);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.returns-icon-para-container > p {
    font-size: 1rem;
}

/* Follow Us Section */
.bottom-footer-container {
    background-color: var(--navy-blue);
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
}
.bottom-footer-child-container {
    width: 75%;
    display: flex;
    justify-content: center;
}

.top-palette-footer-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-palette-content {
    display: flex;
    flex-direction: column;
}

.top-palette-content > h1 {
    color: #DDDDDD;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.top-palette-content > p {
    color: #DDDDDD;
    font-size: 1rem;
    line-height: 1.5;
}

.top-palette-content > p:hover {
    cursor: pointer;
}

.footer-horizontal-rule {
    color: #DDDDDD;
    height: 1rem;
    display: inline-block;
}


/* payments container */
.payments-container {
    background-color: var(--navy-blue);
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
}
.payments-child-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.payment-methods-heading{
    color: #DDDDDD;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
}

.payment-options {
    display: flex;
}

.payment-icon {
    color: #DDDDDD;
    font-size: 2rem;
    margin-right: 1rem;
}

.payment-icon:hover {
    cursor: pointer;
}

/* Product Page Rule Sets */
.display-control {
    display: none;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
   padding: 4rem 0 3rem;

}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100; 
    /* fix the top even when scrolling */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;

}

#back-btn-1 {
    font-size: 1.8rem;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right: 0;
}
.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}

.cart-img {
    width: 80%;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.cart-product-title {
    font-size: 1.1rem;
    text-transform: uppercase;

}
.cart-price {
    font-weight: 600;
    font-size: 1.25rem;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove {
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
    margin-bottom: 1.4rem;

}
.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.total-price {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}
.button-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

}
.button-buy:hover {
    background: var(--text-color);

}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop {
    margin-top: 2rem;
}

/* Shop Content */
.shop-content {
    display: flex;
    flex-wrap: wrap;
}

.tshirts-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product-box {
    position: relative;
    margin-bottom: 1.5rem;
    width: 45%;
    
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}
.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.brand-name {
    color: #BE8C63;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.9rem;
}
.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.rupee-icon {
    font-size: 0.9rem;

}

.price {
    font-weight: 600;
    font-size: 1.2rem;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(254, 28%, 18%);
}

/* Break Points */
@media (max-width:1080px) {
    .nav{
        padding: 1rem;
    }
    section {
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop {
        margin-top: 2rem;
    }
}

@media (max-width: 900px) {
    /* Home Container */

    .home-container {
        max-width: 1068px;
        margin: auto;
        width: 100%;
        height: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
    }
    .home-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.4rem;
    }
    .home-logo-container {
        display: flex;
        margin-bottom: auto;
    }
    
    .home-logo {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .search-container {
        display: flex;
        justify-content: center;
    }

    .hamburger-container {
        display: flex;
    }

    .hamburger-menu {
        font-size: 2rem;
        margin-left: 1rem;
        
    }
    /* Modal Menu */
    .modal-container {
        display: flex;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }
    .modal-items {
        background-color: var(--bg-color);
        margin: 25% auto;
        padding: 1.5rem;
        width: 70%;
        height: 50%;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        font-size: 1rem;
        text-align: center;
    }
    .modal-items > p {
        margin: 1rem 0;
    }
    .modal-items > p:hover {
        cursor: pointer;
        transition: 0.1s;
        font-size: 1.5rem;
        border-left: 0.18rem solid var(--navy-blue);
        border-bottom: 0.18rem solid var(--navy-blue);
    }
    .close-modal {
        color: grey;
        float: right;
        font-size: 1.5rem;
        
    }
    .close-modal:hover {
        cursor: pointer;
        color: var(--red-color);
        text-decoration: none;
    }
    .home-nav-items {
        display: none;
    }

    .home-search-bar {
        border: 1px solid var(--text-color);
        width: 80%;
        border-radius: 0.4rem;
        padding: 0.1rem;
        padding-left: 0.9rem;
        background-image: url('./images/search-icon.png');
        background-size: 1rem;
        font-size: 0.8rem;
        background-repeat: no-repeat;
        background-position: right;
        outline: 0;
        margin-right: 0.8rem;
    }
    
    .home-wish-list {
        font-size: 1.5rem;
        color: var(--navy-blue);
        margin-right: 0.8rem;
    }
    .home-shop-bag {
        font-size: 1.5rem;
        margin-right: 0.8rem;
        color: var(--navy-blue);
    }

    .home-palette {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
    }
    .palette-images-1 {
        width: 50%;
        height: 25vh;
        margin-right: 0;
        margin-bottom: 1rem; 
    }

    .palette-images-2 {
        width: 50%;
        height: 25vh;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .palette-images-3 {
        width: 50%;
        height: 25vh;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .home-page-new-arrival {
        background-color: #DFDFDE;
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 3rem;
    }
    
    .main-heading {
        font-size: 2rem;
        margin-bottom: 0.9rem;
    }
    
    .home-shop-now-btn {
        background-color: var(--navy-blue);
        color: var(--bg-color);
        border: none;
        width: 3rem;
        height: 1rem;
        border-radius: 0.2rem;
        font-size: 0.3rem;
        font-weight: bold;
    }
    .home-page-model {
        height: 100%;
        width: 40%;
    }

    /* footer */
    .top-palette-content > h1 {
        color: #DDDDDD;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.4rem;
    }
    .top-palette-content > p {
        color: #DDDDDD;
        font-size: 0.7rem;
        line-height: 1.2;
    }

    /* Product Page */
    .nav {
        padding: 0.9rem;

    }
    .logo {
        font-size: 1rem;
    }
    .cart {
        width: 320px;
    }

    .tshirts-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        align-items: center;
    }
    .product-box {
        position: relative;
        margin-bottom: 1.5rem;
        width: 80%;
    }

    /* footer section */
    .cares-para-container {
        color: #DDDDDD;
        font-size: 0.7rem;
        text-align: center;
        font-weight: bold;
    }
}

@media (max-width: 320px) {
    .shop {
        margin-top: 1rem;
    }

    .cart {
        width: 260px;
    }
}